* {
    color: black;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 97.5vw;
    height: 97.5vh;
    background: #1d3557 !important;
}

main {
    width: 800px;
    height: 600px;
    background: white;
}

section {
    width: 300px;
    height: 300px;
}

h1 {
    color: #03045e;
}

#result > p {
    background: #0a53be;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
}

h4 {
    color: #0a53be;
}

aside > p {
    color: #012a4a;
}
