* {
    color: white;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 97.5vw;
    height: 97.5vh;
    background: #1d3557 !important;
    background: url("../images/background-image.jpg") !important;
}

main {
    width: 800px;
    height: 600px;
    opacity: 80%;
    background: #001845;
}

section {
    width: 300px;
    height: 300px;
}

h1 {
    color: white;
}

#result > p {
    background: #0a53be;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
}

h4 {
    color: white;
}

aside > p {
    color: white;
    font-size: 1.2em;
}

aside > p:first-child > span{
    color: #d90429;
}

aside > p:nth-child(2) > span{
    color: #ff9f1c;
}

aside > p:last-child > span{
    color: #38b000;
}
